@media (max-width: 600px) {
  /* Make text slightly smaller and more readable */
  body {
    font-size: 12pt;
    line-height: 1.5;
  }

  /* Container spacing */
  .portfolio-container {
    padding: 0 1em;
  }

  /* Header adjustments */
  .profile-header {
    padding: 3em 0 2em 0;
  }

  .profile-image img {
    width: 7em; /* smaller avatar on mobile */

  }
  /* Stack gallery items vertically */
  .gallery-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5em;
    margin: 0;
  }

  .gallery-column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .gallery-item {
    width: 100%;
    margin: 0;
  }

  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }
