/* Base styles (preserved from original) */
html, body, div, span, h1, h3, p, a, img, strong, ul, li, footer, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer, header, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #000;
  color: rgba(255, 255, 255, 0.65);
  font-family: Helvetica;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.65;
}

ul {
  list-style: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
  transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a:hover {
  color: #ffffff;
  border-bottom-color: transparent;
}

strong {
  color: #ffffff;
  font-weight: 200;
}

p {
  margin: 0 0 2em 0;
}

h1, h3 {
  color: #ffffff;
  font-weight: 200;
  line-height: 1.5;
  margin: 0 0 1em 0;
}

h1 {
  font-size: 1.75em;
  font-family: Georgia;
}

h3 {
  font-family: Helvetica;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon > .label {
  display: none;
}

.icon.style2 {
  transition: all 0.2s ease;
  border-radius: 100%;
  display: inline-block;
  padding: 0.5em;
  border: solid 1px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.075);
}

/* Fix icon display */
.icon.style2 i {
  display: block;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  font-size: 1.35em;
}

.icon.style2:before {
  display: none;
}

.icon.style2:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.social-icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.social-icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.social-icons li:last-child {
  padding-right: 0;
}

